body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; 
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .main-container {
    max-width: 800px;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
  }
  
  .connect-wallet-button {
    background-color: #007bff;
    color: white;
  }
  
  .connect-wallet-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .create-auction-button {
    background-color: #28a745; 
    color: white;
  }
  
  .create-auction-button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .create-auction-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 550px;
    min-height: 350px;
  }
  

  